html, body, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar {
  background-color: lightsteelblue;
  height: 92vh;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  }

img {
  margin: 0;
  width: 80%;
}

.main {
  padding: 30px;
  font-family: 'Ledger', serif;
  text-align: left;
  color: black;
  }

h4:hover{
    color: rgb(20,4,28);
    background-color: rgb(101,109,122);
}

img:hover {
  box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
}
.web_thumbnail {
    width: 150px;
    background-color: white;
    padding: 22px 15px;
}
.thumbnail_box {
  margin: 10px;
  height: 250px;
}
#katscostumes {
  padding: 42.5px 15px;
}
#baseballjedi {
  padding: 39px 15px;
}
#fixCakes {
  padding: 15px 15px;
}
