body {
  background-color: rgb(20,4,28);
  }

.sidebar {
  background-color: rgb(209,195,216);
  color: rgb(40,40,40);
  padding: 10px;
  float: left;
  width: 260px;
  margin: 0px;
  }

.header {
  padding: 15px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.25em;
  }

p {
  margin: 0 15px;
  font-family: 'Ledger', serif;
  text-align: left;
  }

#interior, #makeup, #creative, #pitbull{
  border: 4px solid rgb(101,109,122);
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Ledger', serif;

  }
#interior {


}
#makeup{


}
#creative{

}
#pitbull{


}
#makeup:hover{
    color: rgb(20,4,28);
    background-color: rgb(101,109,122);
}
#interior:hover{
    color: rgb(20,4,28);
    background-color: rgb(101,109,122);
  }
#creative:hover{
        color: rgb(20,4,28);
        background-color: rgb(101,109,122);
      }
#pitbull:hover{
        color: rgb(20,4,28);
        background-color: rgb(101,109,122);
      }
